<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="crud_conexion_BD.Properties.Settings.Valor1" connectionString="Data Source=DESKTOP-KQUVA2I\SQLEXPRESS;Initial Catalog=USUARIOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>